# Database
RAILS_POSTGRES_PASSWORD=changeme

# Application
APP_PORT=3000
DATABASE_URL=postgresql://newscraper:RAILS_POSTGRES_PASSWORD@rails-postgres:5432/newscraper
SECRET_KEY_BASE=changeme
NEWS_SCRAPER_API_TOKEN=changeme

# Scheduler
ENABLE_SCHEDULER=true
SCRAPE_INTERVAL=3h
